.TravelList {
    list-style: none;
    padding: 0 10px;
    background-color: #E5E4E2;
    margin: 0;
    height: 100vh;

    & h1 {
        margin: 0;
        padding: 10px 0;
    }

    &-Button {
        background-color: #E5E4E2;
        border-radius: 0;
        padding: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    &-Form {
        input {
            margin-right: 5px;
        }
    }
}